.invalid {
    border:1px solid red !important;
   }
   input, textarea {
    outline: none !important;
    box-shadow: none !important; 
  }
  
   
input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=text], input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.form-group{
	min-height : 2px;
	position:relative;
	perspective:100px;
	transform-style:preserve-3d;
}
.form-group .group{
	margin-bottom :115px;
}
.form-group .group .input,
.form-group .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(37, 37, 163, 0.1);
}
   
.button{
  border: rgb(37, 36, 36);
  background-color: black;
}

